body{
    background-color: gray;
    

}


.head{
    text-align: center;
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 80px;
}
table{
    border: 5px solid black;
    font-size: 26px;
    text-align: center;
    background-color: white;
    margin-bottom: 50px;
    padding-top: 7px;
    
}
p{
    font-style: italic;
}
